body {
    text-align: center;
    background-color: aqua;
}

h1{
    font-size: 50px;
}

.quadrado {
    text-align: center;
    width: 90px;
    background: rgb(255, 0, 0);
    display: inline-block;
    padding: 40px;
    font-size: 90px;
    font-family:Impact, Haettenschweiler, sans-serif;
    margin: 5px;
    cursor: pointer;
    color: rgb(255, 0, 0);
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}